.top-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 5px solid red !important;
}
#description {
    font-size: 18px;
    font-weight: bold;
    
}

yes-mark {
  background-color: green !important;
  padding: 2px 4px;
  font-weight: bold;
}

no-mark {
  background-color: red !important;
  padding: 2px 4px;
  font-weight: bold;
}

#main-container {
    border: 15px solid black !important;
    
    width: 100vw;
    height: 100vh;
}